{
  "extends": ["eslint:recommended"],
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "no-duplicate-imports": ["error", { "includeExports": false }],
    "no-eval": 0,
    "no-unused-vars": ["error", { "varsIgnorePattern": "^_", "args": "none" }]
  },
  "overrides": [
    {
      "files": ["test/unit/compiler/passes/helpers.js", "*.spec.js", "*.test.js"],
      "extends": "@futagoza/dev/test",
      "rules": {
        "func-names": 0,
        "no-mixed-operators": 0
      }
    }
  ],
  "root": true
}
